.bg-geometric {
  background-image: url(/geometric-background-xs.png);
  background-size: cover;
  background-position: initial;
  height: 100vh;
  width: 100vw;
}

.bg-geometric .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}


@media screen and (min-width: 744px) {
  .bg-geometric {
    background-image: url(/geometric-background-xl.png);
  }
}